aniso8601==1.0.0
Flask==0.10.1
Flask-Cors==2.1.2
Flask-RESTful==0.3.3
Flask-SQLAlchemy==2.0
gunicorn==19.3.0
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
psycopg2==2.6
py==1.4.31
pytest==2.9.0
pytz==2015.4
six==1.9.0
SQLAlchemy==1.0.4
Werkzeug==0.10.4
